<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Text pre-processor</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<script type="text/javascript">
    let time_obj = undefined;     // 타이머
    let flag = undefined;           // 더블 클릭 체크
    let processing_option = undefined;  // 전처리 옵션 리스트
    let processing_checkbox = undefined;    // 추가적인 값이 필요한 옵션
    let idx = 0;    // 옵션 리스트 인덱스
    let i = 0;
    let options = undefined;
    let options_length = undefined;
    const url = "/dpp";


    window.onload = () => {
        time_obj = document.getElementById("timer");

        processing_checkbox = document.getElementById("options");
        processing_option = ["space_normalizer", "to_capitalize", "to_lower", "accent", "expander", "emoji_remover", "lemmatizer",
                             "number_changer", "number_normalizer", "short_line_remover", "short_word_remover", "full_stop_normalizer",
                             "comma_normalizer", "special_remover", "special_replacer", "word_replacer"];
        need_value = ["comma_normalizer", "full_stop_normalizer", "special_remover", "short_word_remover",
                      "short_line_remover", "number_normalizer"];
        need_three_value = ["special_replacer", "word_replacer"];

        flag = false;

        add_list();
    }


    // 추가적인 값을 필요로 하는 옵션에 input 박스 추가
    function show_input_box(id, value) {
        let parent = document.getElementById(id).parentNode;

        // input 박스 삭제
        if (parent.childElementCount != 1) {
            parent.removeChild(parent.lastChild);
        }

        if (need_value.includes(value)) {
            if (parent.getElementsByTagName("input").length == 0){
                let label = document.createElement("label");
                let input = document.createElement("input");

                input.type = "text";
                input.className = "value";
                input.style = style="width:50px";

                label.appendChild(input);
                parent.appendChild(label);
            }
        } else if (need_three_value.includes(value)) {
            if (parent.getElementsByTagName("input").length == 0){
                let label = document.createElement("label");
                let input = document.createElement("input");
                let input2 = document.createElement("input");

                input.type = "text";
                input.className = "value";
                input.style = style="width:50px";
                input2.type = "text";
                input2.className = "value2";
                input2.style = style="width:50px";

                label.appendChild(input);
                label.appendChild(input2);
                parent.appendChild(label);
            }
        }
    }


    // Select 리스트 동적추가 함수
    function make_select_list(){

        select_list = `<select id="option_${idx}" class="options" onchange="show_input_box(this.id, this.value);" style="width:150pt">`;

        for (let i in processing_option) {
            select_list += `<option value="${processing_option[i]}">${processing_option[i]}</option>`;
        }

        select_list += `</select>&nbsp;&nbsp;&nbsp;&nbsp;`;

        idx += 1;

        return select_list;
    }


    // 전처리 옵션항목 추가
    function add_list() {
        let new_option = document.createElement("label");

        new_option.id = `list_${idx}`;
        new_option.className = "option";
        new_option.innerHTML = make_select_list();

        let br = document.createElement("br");

        processing_checkbox.appendChild(new_option);
        processing_checkbox.appendChild(br);
    }


    // 전처리 옵션항목 제거
    function remove_list(){
        if (processing_checkbox.childElementCount / 2 > 1) {
            processing_checkbox.removeChild(processing_checkbox.lastChild);
            processing_checkbox.removeChild(processing_checkbox.lastChild);
        }
    }


    // 옵션 값 획득
    function get_options() {
        let nodes = processing_checkbox.getElementsByClassName("option");

        let options = [];

        for (let i=0; i < nodes.length; i++) {
            let _select = nodes[i].getElementsByTagName("select")[0].value;

            if (nodes[i].childNodes.length == 2) {
                options.push([_select, false, false]);
            }
            else if (need_value.includes(_select)) {
                let _input = nodes[i].getElementsByClassName("value")[0].value;

                options.push([_select, _input, false]);
            }
            else if (need_three_value.includes(_select)) {
                let _input = nodes[i].getElementsByClassName("value")[0].value;
                let _input2 = nodes[i].getElementsByClassName("value2")[0].value;

                options.push([_select, _input, _input2]);
            }

        }

        return options;
    }


    // 이중 클릭 검증 함수
    function double_submit_check() {
        if (flag) {
            console.log("double");
            return true;
        }
        else {
            flag = true;

            return false;
        }
    }


    // 옵션 리스트를 연속적으로 보내는 자기호출 함수
    function send_option(formData) {
        // send request
        result = fetch (url, { method: 'POST', body: formData, })
        .then(response => {
            if (response.status === 200) {
                return response.blob();
            } else {
                console.log(response);
                clearInterval(timer);
                flag = false;
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        }).then(data => {

            if (i == options.length - 1) {
                let result_url = window.URL.createObjectURL(data);
                let dl_btn = document.getElementById('download_btn');
                let a = document.createElement('a');
                a.href = result_url;
                a.download = `result.txt`;
                a.innerHTML = `Result Download<br>`;

                dl_btn.appendChild(a);

                clearInterval(timer);
                time_obj.innerText = 'Done!';
                flag = false;
            }
            else {
                i += 1;
                const newData = new FormData();

                newData.append('text_file', data);
                newData.append('option', options[i][0]);
                newData.append('value', options[i][1]);
                newData.append('value2', options[i][2]);

                send_option(newData)
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        });
    }


    // 전처리 리퀘스
    function send_req() {
        if (double_submit_check()){
            return ;
        }

        let text_file = document.getElementById("text_file").files[0];


        if (text_file == undefined) {
            document.getElementById('warning').innerText = 'Please upload Text file';
            flag = false;
            return ;
        }

        let start = 0;

        // set timer
        timer = setInterval(() => {
            start += 1;
            time_obj.innerText = `${start / 10} 's`;
        }, 100);

        options = get_options();
        options_length = options.length;
        i = 0

        const formData = new FormData();

        formData.append('text_file', text_file);
        formData.append('option', options[i][0]);
        formData.append('value', options[i][1]);
        formData.append('value2', options[i][2]);

        send_option(formData);
    }


</script>
<body>
    <div class="styles">
        <style>
                #button{
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                #length{
                    width: 70px;
                    height: 30px;
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                table {
                  border-spacing: 10px;
                  border-collapse: separate;
                }

        </style>
    </div>
    <div class="container">
        <div class="jumbotron mt-3">
            <div class="intro">
                <br>
                <!-- Project title -->
                <h1>Text pre-processor</h1><br><br>
                <a>Git hub repository : </a> <a href="https://github.com/fpem123/pre-processor" target="_blank">fpem123/pre-processor</a><br>
                <a>Open API : </a> <a href="https://ainize.ai/fpem123/pre-processor?branch=master" target="_blank">On Ainize</a><br>
            </div>

            <br><hr width="90%">

            <div class="Notice">
                <h3>Notice</h3>
                <ul>
                    <li>This is Text pre-processor.</li>
                    <li><a href="/sample_download" download="sample.txt">Sample download</a></li>
                </ul>

                <h3>How to use?</h3>
                <ul>
                    <li>1st, Upload Text file.</li>
                    <li>Second, Select pre-processing option.</li>
                    <li>If the option requires an additional value, fill in the input box.</li>
                    <li>If the option requires an more additional value, fill in second input box.</li>
                    <li>If you want to do multiple pre-processing, you can add them by pressing the ADD button.</li>
                </ul>
            </div>

            <br><hr width="90%">

            <div id="txt">
                <div class="file_upload">
                    <h3>Text file upload</h3><br>
                    <input type="file" id="text_file" accept="text/plain" required><br>
                    <b><label id="warning" style="color:red;"></label></b>
                </div>

                <br>

                <div id="option_info">
                    <ul>//16
                        <li>space_normalizer: Whitespace normalization. (Including newline removal). No additional value required.</li>
                        <li>to_capitalize: Capitalize only the first letter of the line, and change the rest to lowercase. No additional value required.</li>
                        <li>to_lower: Change all words to lowercase. No additional value required.</li>
                        <li>accent: Replace accented characters like ï with regular characters. No additional value required.</li>
                        <li>expander: Increases the abbreviation. (can't → can not). No additional value required.</li>
                        <li>emoji_remover: Remove emojis. No additional value required.</li>
                        <li>lemmatizer: Turns all words into basic form. (is -> be, bats -> bat). No additional value required.</li>
                        <li>number_changer: Turn numbers into words. No additional value required.</li>
                        <li>number_normalizer: Replace the number with another one you entered. Need additional value.</li>
                        <li>short_line_remover: It also takes a number and removes the lines shorter than the number. Need additional value.</li>
                        <li>short_word_remover: It also takes a number and removes words shorter than the number. Need additional value.</li>
                        <li>full_stop_normalizer: It receives special characters and turns them all into dot. Need additional value.</li>
                        <li>comma_normalizer: Receive special characters and turn them all into commas. Need additional value.</li>
                        <li>special_remover: Receive the special characters to be deleted and delete them all. Need additional value.</li>
                        <li>special_replacer: Input and replace special characters and words to be replaced. Need additional value, value2.</li>
                        <li>word_replacer: Replace the word with another one you entered. Need additional value, value2.</li>
                    </ul>
                </div>

                <br><br>

                <div class="pre-processor">
                    <h3><label>Text pre-processor</label></h3>
                    <h4>Pre-processing options</h4>
                    <!-- Pre-processing option checkbox -->
                    <label id="options"></label>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <button class="btn btn-primary btn=lg" type="submit" id="add_btn" onclick="add_list();">ADD</button>
                    <button class="btn btn-primary btn=lg" type="submit" id="del_btn" onclick="remove_list();">DEL</button><br>
                    <button class="btn btn-primary btn=lg" type="submit" id="s_button" onclick="send_req();">Making</button>
                    <br><br>
                    <h4>Pre-processing result&nbsp;&nbsp;&nbsp;<label id="timer"></label></h4>
                    <label id="download_btn"></label>
                </div>

            </div>

            <br><hr width="50%">
        </div>
    </div>
</body>
</html>