<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Text pre-processor</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<script type="text/javascript">
    let time_obj = undefined;     // 타이머
    let flag = undefined;           // 더블 클릭 체크
    let processing_option = undefined;  // 전처리 옵션 리스트
    let processing_checkbox = undefined;    // 추가적인 값이 필요한 옵션
    let idx = 0;    // 옵션 리스트 인덱스
    let i = 0;
    let options = undefined;
    let options_length = undefined;
    const url = "/dpp";


    window.onload = () => {
        time_obj = document.getElementById("timer");

        processing_checkbox = document.getElementById("options");
        processing_option = ["to_capitalize", "to_lower", "accent", "expander", "short_line_remover", "short_word_remover",
                             "emoji_remover", "special_remover", "special_replacer", "lemmatizer", "space_normalizer",
                             "full_stop_normalizer", "comma_normalizer", "number_changer"];
        need_value = ["comma_normalizer", "full_stop_normalizer", "special_replacer", "special_remover", "short_word_remover",
                      "short_line_remover"];
        flag = false;

        add_list();
    }


    // 추가적인 값을 필요로 하는 옵션에 input 박스 추
    function show_input_box(id, value) {
        let parent = document.getElementById(id).parentNode;

        if (need_value.includes(value) && parent.getElementsByTagName("input").length == 0){
            let input = document.createElement("input");
            input.type = "text";
            input.id = `${id}_value`;
            input.style = style="width:50px";

            parent.appendChild(input);
        } else if (parent.getElementsByTagName("input").length == 1){
                parent.removeChild(parent.lastChild);
        }
    }


    // Select 리스트 동적추가 함수
    function make_select_list(){

        select_list = `<select id="option_${idx}" class="options" onchange="show_input_box(this.id, this.value);" style="width:150pt">`;

        for (let i in processing_option) {
            select_list += `<option value="${processing_option[i]}">${processing_option[i]}</option>`;
        }

        select_list += `</select>&nbsp;&nbsp;&nbsp;&nbsp;`;

        idx += 1;

        return select_list;
    }


    // 전처리 옵션항목 추가
    function add_list() {
        let new_option = document.createElement("label");
        new_option.id = `list_${idx}`;
        new_option.innerHTML = make_select_list();

        let br = document.createElement("br");

        processing_checkbox.appendChild(new_option);
        processing_checkbox.appendChild(br);
    }


    // 전처리 옵션항목 제거
    function remove_list(){
        if (processing_checkbox.childElementCount / 2 > 1) {
            processing_checkbox.removeChild(processing_checkbox.lastChild);
            processing_checkbox.removeChild(processing_checkbox.lastChild);
        }
    }


    // 옵션 값 획득
    function get_options() {
        let nodes = processing_checkbox.getElementsByTagName("label");

        let options = [];

        for (let i=0; i < nodes.length; i++) {
            if (nodes[i].childNodes.length == 2)
            {
                let _select = nodes[i].getElementsByTagName("select")[0].value;
                options.push([_select, false]);
            }
            else if (nodes[i].childNodes.length == 3)
            {
                let _select = nodes[i].getElementsByTagName("select")[0].value;
                let _input = nodes[i].getElementsByTagName("input")[0].value;
                options.push([_select, _input]);
            }
        }

        return options;
    }


    // 이중 클릭 검증 함수
    function double_submit_check() {
        if (flag) {
            console.log("double");
            return true;
        }
        else {
            flag = true;

            return false;
        }
    }

    // sleep 함수
    function sleep(ms) {
      const wakeUpTime = Date.now() + ms
      while (Date.now() < wakeUpTime) {}
    }


    // 옵션 리스트를 연속적으로 보내는 자기호출 함수
    function send_option(formData) {
        // send request
        result = fetch (url, { method: 'POST', body: formData, })
        .then(response => {
            if (response.status === 200) {
                return response.blob();
            } else {
                console.log(response);
                clearInterval(timer);
                flag = false;
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        }).then(data => {

            if (i == options.length - 1) {
                let result_url = window.URL.createObjectURL(data);
                let dl_btn = document.getElementById('download_btn');
                let a = document.createElement('a');
                a.href = result_url;
                a.download = `result.txt`;
                a.innerHTML = `Result Download<br>`;

                dl_btn.appendChild(a);

                clearInterval(timer);
                time_obj.innerText = 'Done!';
                flag = false;
            }
            else {
                i += 1;
                const newData = new FormData();

                newData.append('text_file', data);
                newData.append('option', options[i][0]);
                newData.append('value', options[i][1]);

                send_option(newData)
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        });
    }


    // 전처리 리퀘스
    function send_req() {
        if (double_submit_check()){
            return ;
        }

        let text_file = document.getElementById("text_file").files[0];


        if (text_file == undefined) {
            document.getElementById('warning').innerText = 'Please upload Text file';
            flag = false;
            return ;
        }

        let start = 0;

        // set timer
        timer = setInterval(() => {
            start += 1;
            time_obj.innerText = `${start / 10} 's`;
        }, 100);

        options = get_options();
        options_length = options.length;
        i = 0

        const formData = new FormData();

        formData.append('text_file', text_file);
        formData.append('option', options[i][0]);
        formData.append('value', options[i][1]);

        send_option(formData);
    }


</script>
<body>
    <div class="styles">
        <style>
                #button{
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                #length{
                    width: 70px;
                    height: 30px;
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                table {
                  border-spacing: 10px;
                  border-collapse: separate;
                }

        </style>
    </div>
    <div class="container">
        <div class="jumbotron mt-3">
            <div class="intro">
                <br>
                <!-- Project title -->
                <h1>Text pre-processor</h1><br>
                <a>Text pre-processor.</a><br><br>
                <a>Git hub repository : </a> <a href="https://github.com/fpem123/script-parser" target="_blank">..</a><br>
                <a>Open API : </a> <a href="https://ainize.ai/fpem123/script-parser" target="_blank">..</a><br>
                <a>Sample reference : </a><a href="https://www.kaggle.com/feniksm/simpsons?select=script_lines.csv">..</a>
            </div>

            <br><hr width="90%">

            <div class="Notice">
                <h3>Notice</h3>
                <ul>
                    <li>This is Text pre-processor.</li>
                    <li><a href="/csv/sample_download" download="sample.csv">None</a></li>
                </ul>

                <h3>How to use?</h3>
                <ul>
                    <li>1st, Upload Text file.</li>
                </ul>
            </div>

            <br><hr width="90%">

            <div id="csv">
                <div class="file_upload">
                    <h3>CSV file upload</h3><br>
                    <input type="file" id="text_file" accept="text/plain" required><br>
                    <b><label id="warning" style="color:red;"></label></b>
                </div>

                <br>

                <br><br>

                <div class="pre-processor">
                    <h3><label>Text pre-processor</label></h3>
                    <h4>Pre-processing options</h4>
                    <!-- Pre-processing option checkbox -->
                    <label id="options"></label>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <button class="btn btn-primary btn=lg" type="submit" id="add_btn" onclick="add_list();">ADD</button>
                    <button class="btn btn-primary btn=lg" type="submit" id="del_btn" onclick="remove_list();">DEL</button><br>
                    <button class="btn btn-primary btn=lg" type="submit" id="s_button" onclick="send_req();">Making</button>
                    <br><br>
                    <h4>Pre-processing result&nbsp;&nbsp;&nbsp;<label id="timer"></label></h4>
                    <label id="download_btn"></label>
                </div>


            </div>

            <br><hr width="50%">
        </div>
    </div>
</body>
</html>